<!-- your html code here -->
<!--portfolio-->
<div class="container flex text-center">
  <div class="row align-items-center">
    <div class="col">
              One of three columns
      <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">

    </div>
    <div class="col">
      One of three columns
            <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">

    </div>
    <div class="col">
      One of three columns
            <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">

    </div>
  </div>
</div>