<!-- your html code here -->
<!--portfolio-->
<div class="container-fluid">
  <div class="row mx-5">
    <h2>Mi titulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis voluptate quia adipisci et, harum facilis
      voluptatibus eum, molestiae autem, ab recusandae eaque nostrum repellat explicabo delectus maiores eos deleniti.
    </p>
    <div class="col-md-4">
      <img src="./assets/img/big-project-image.png" class="img-fluid" alt="...">
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel nobis neque quam, eligendi nulla
        recusandae dolor omnis, dolore fugit sit labore, minima ullam obcaecati atque expedita animi. Nisi, unde.</p>
    </div>
    <div class="col-md-4">
      <img src="./assets/img/big-project-image.png" class="img-fluid" alt="...">
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, doloremque, ipsum quos praesentium quaerat
        vel non labore illo animi aliquid rerum explicabo numquam earum dolorem consectetur, unde nostrum nisi amet?</p>
    </div>
    <div class="col-md-4">
      <img src="./assets/img/big-project-image.png" class="img-fluid" alt="...">
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste autem vero, sit sequi rerum, qui praesentium
        facere animi ex ad ab non doloremque voluptates dicta blanditiis molestias facilis fugiat aperiam.</p>
    </div>
  </div>
</div>